/* Shared */
html,
body
{
  width: 300px;
  height: 150px;
  background-image: url("../img/background.png");
  background-color: #255294;
}

body
{
  padding: 10px;
}

h2,
.h2
{
  font-size: 1.7rem;
}

.container-fluid
{
  padding-bottom: 5px;
}

.hidden
{
  display: none;
}

.center
{
  margin: auto;
  text-align: center;
}

p,
.h2,
table > *,
label,
.description,
.spinner,
#score-keeper-toggle
{
  color: #fff;
}

hr
{
  border-top-color: #ffffff;
}

#title,
#friend-error
{
  margin-bottom: 5px;
}

#form-input-feedback div,
#found-friend
{
  margin-bottom: 10px;
}

svg
{
  vertical-align: text-bottom;
}

/* Header */
.btn-group-toggle
{
  width: 100%;
}

#tabs
{
  margin: 10px 0 15px 0;
}

#all-time-date
{
  font-size: 13px;
}

#all-time-date td
{
  padding: 0;
}

#new-badge
{
  font-size: 10px;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 200px;
  background-color: #F3FF14;
}

.description
{
  text-align: center;
  margin-bottom: 10px;
}

.btn.spinner:hover
{
  color: #FFF !important;
}

.spinner
{
  line-height: 1.8;
}

#friend-finder .spinner
{
  padding: 5px 0 15px 0;
}

#score-keeper .spinner
{
  padding: 10px 0 0 0;
}

/* Form */

#pencil
{
  height: 38px;
  margin-right: 10px;
}

#friend-input
{
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-success
{
  color: #fff;
  background-color: #1DBF38;
  border-color: #1DBF38;
}

.btn-warning
{
  background-color: #F3FF17;
  border-color: #F3FF17;
}

.btn-danger
{
  background-color: #E80920;
  border-color: #E80920;
}

#start-button,
#resume-button,
#pause-button,
#stop-button
{
  margin-bottom: 15px;
}

#friends button
{
  margin: 0 10px 10px 0;
}

.friend-button
{
  color: #fff !important;
  border-color: #fff !important;
}

.enabled-friend-button:hover
{
  color: #fff !important;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
}

#friend-finder .custom-control.custom-switch,
.reset
{
  margin-bottom: 10px;
}

label
{
  font-size: 14px;
}

/* Enabled */
.custom-control-input:checked~.custom-control-label::before
{
  border-color: #28A745;
  background-color: #28A745;
}

.invalid-feedback
{
  color: rgb(255, 154, 154);
}

.warning
{
  color: rgb(255, 212, 0);
  font-size: 80%;
}

/* Friend Finder */

.spinner
{
  font-size: 20px;
  cursor: default;
}

.spinner img
{
  height: 35px;
  vertical-align: top;
}

#stats th,
#score-keeper th
{
  font-weight: bold;
  text-align: right;
  width: 60%;
}

#stats td,
#score-keeper td
{
  text-align: left;
}

#stats td
{
  font-weight: normal;
  width: 40%;
  vertical-align: middle;
}

.table td,
.table th
{
  padding: .4rem;
}

.alert-success
{
  color: #FFFFFF;
  background-color: transparent;
  border-color: #c3e6cb;
}

/* Score Keeper */
#score-keeper img
{
  vertical-align: top;
}

#all-time-date td
{
  text-align: center;
}

#score-keeper-type-option
{
  margin-bottom: 10px
}

.toggle
{
  position: absolute;
  top: 121px;
  font-weight: bold;
}

#manual-toggle-text
{
  right: 180px;
}

#automatic-toggle-text
{
  left: 171px;
}
