html,
body
{
  width: 300px;
  height: 150px;
  background-image: url("../img/background.png");
}

body
{
  padding: 10px;
}

h1,
h2,
h3,
p,
th,
td,
span,
#spinner
{
  color: #fff;
}

.center
{
  margin: auto;
  text-align: center;
}

#instructions
{
  text-align: center;
  margin-bottom: 10px;
}

#stats th
{
  font-weight: bold;
  text-align: right;
}

#stats td
{
  font-weight: normal;
}

#start-button,
#resume-button,
#pause-button,
#stop-button
{
  margin-bottom: 15px;
}

th
{
  width: 60%;
}

td
{
  width: 40%;
}

#friends button
{
  margin: 0 10px 10px 0;
}

.friend-button
{
  color: #fff !important;
  border-color: #fff !important;
}

.enabled-friend-button:hover
{
  color: #fff !important;
  background-color: #a35048 !important;
  border-color: #a35048 !important;
}

.invalid-feedback
{
  color: rgb(255, 154, 154);
}

#friend-error
{
  margin-bottom: 5px;
}

#errors div
{
  margin-bottom: 10px;
}

#found-friend h3,
#found-friend span
{
  margin-bottom: 10px;
  color: rgb(193, 255, 198);
}

.table td,
.table th
{
  padding: .4rem;
}

#spinner
{
  font-size: 20px;
}

.spinner-border
{
  vertical-align: baseline;
}
